<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" href="favicon.ico?v=1">

  <meta name="theme-color" content="#0072FF">
  <title>President workshop</title>

</head>

<body>
  <div id="app"></div>
</body>

</html>