@import 'vars/layout.scss';

// #region -------------- Input fields -------------------------------------------------------------------

input[type="text"], select, textarea {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  font-size: 14px;
  color: #000;
  border: 1px solid #c1ddff;
  border-radius: 4px;
  outline: 0;
  transition: border-color 0.5s;
  margin-bottom: 24px;
  box-sizing: border-box;

  &:focus {
    border-color: #0072ff;
  }

  @media #{$mdUp} {
    max-width: 420px;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// #endregion

// #region -------------- Buttons -------------------------------------------------------------------

.btn {
  border: none;
  font-size: 14px;
  border-radius: 30px;
  position: relative;
  height: auto;
  padding: 11px 20px;
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgba(0, 114, 255, 0.33);
  background-color: #0071fe;

  &::after {
    border-radius: 30px;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    transition: background-color 0.3s;
  }

  &:hover:not(:disabled) {
    color: #fff;

    &::after {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}

// #endregion

.facts-form {
  position: relative;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}