html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  position: relative;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.3s ease-out;
  overflow: hidden;
}

.app {
  .passport-list, .facts-form {
    margin-bottom: 40px;
  }
}

.page-template {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    position: relative;
    flex: auto;

    > div {
      flex: auto;
      min-width: 1px;
    }
  }

  .content-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1024px;
    padding: 20px;
    box-sizing: border-box;
  }
}

.form-section {
  h1 {
    margin-bottom: 30px;
  }
}
