@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loader-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.7);

  .loader {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-left: -20px;
      border-radius: 50%;
      border: 2px solid transparent;
      border-top-color: #0072ff;
      border-bottom-color: #0072ff;
      animation: spinner .8s ease infinite;
    }
  }
}