@import "vars/layout.scss";

.passport-list {
  position: relative;

  .passport {
    margin-top: 15px;
  }
}

.passport {
  box-shadow: $boxShadow;
  word-break: break-word;
  word-wrap: break-word;
  border-radius: 4px;
  overflow: hidden;

  .candidate-photo {
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    background: #eee;
    background-position: center top;
    background-size: cover;
  }

  .passport-info {
    padding: 10px;
    position: relative;

    .claps {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      color: #777;

      &:hover:not(.is-submitting) {
        cursor: pointer;
        box-shadow: $boxShadow;
        background-color: #0072ff;
        color: white;
      }

      &.is-submitting {
        pointer-events: none;

        &:before {
          content: '';
          display: inline-block;
          margin-right: 10px;
          box-sizing: border-box;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 2px solid transparent;
          border-top-color: #0072ff;
          border-bottom-color: #0072ff;
          animation: spinner .8s ease infinite;
        }
      }
    }
  }

  .name {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .social-rating {
    .value {
      font-size: 26px;
      font-weight: bold;
    }
  }

  .fact-viewer-toggle {
    margin-top: 10px;
    display: block;
    text-align: right;
  }

  .fact-category {
    border: 1px solid #eee;
    border-radius: 4px;
    margin-top: 10px;

    .category-title {
      font-weight: bold;
      padding: 5px;
      background-color: #f4f4f4;
    }
  }

  .fact {
    border-top: 1px solid #eee;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;

    .provider-address {
      display: inline-block;
      white-space: nowrap;
      word-break: normal;
      word-wrap: normal;
      margin-bottom: 5px;
      font-size: 12px;
      color: #aaa;
    }

    .weight {
      font-size: 12px;
      color: #aaa;
      margin-bottom: 8px;
    }

    .excerpt {
      margin-bottom: 5px;
      white-space: pre-line;
      font-size: 16px;
    }
  }
}
