@import 'vars/layout.scss';

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 24px;
  text-align: center;

  @media #{$smDown} {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

a {
  text-decoration: none;
  color: #0072ff;
  transition: color 0.5s;

  &:hover {
    color: fade-out($color: #0072ff, $amount: 0.5);
  }
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  color: #777;
  text-transform: uppercase;
}

.msg-error{
  margin-bottom: 20px;
  color: #ca0000;
  font-weight: bold;
}