
$smDown: "(max-width: 767px)";
$mdDown: "(max-width: 991px)";
$lgDown: "(max-width: 1199px)";

$smUp: "(min-width: 576px)";
$mdUp: "(min-width: 768px)";
$lgUp: "(min-width: 992px)";
$xlUp: "(min-width: 1200px)";

$xsOnly: "(max-width: 575px)";
$smOnly: "(min-width: 576px) and (max-width: 767px)";
$mdOnly: "(min-width: 768px) and (max-width: 991px)";
$lgOnly: "(min-width: 992px) and (max-width: 1199px)";

$boxShadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.23);